.product-summary--container {
  margin: 4%;
}

.product-summary--image {
  object-fit: contain;
  width: 100%; /* object-fit: contain only works if the image width can be calculated, we want it to be as big as possible */
}
